In [1]:
import numpy as np
import pandas as pd
import requests

In [2]:
# Load tickers list
stocks = pd.read_csv('sp500Stocks.csv', names=['Ticker'])
stocks

    Ticker
0      MMM
1      ABT
2     ABBV
3     ABMD
4      ACN
..     ...
500    YUM
501   ZBRA
502    ZBH
503   ZION
504    ZTS

[505 rows x 1 columns]

In [3]:
#  Example data we'll use

from api import key

# Batch api call to IEX
def getBatchData(symbols, data_types):
    api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbols}&types={data_types}&token={key}'
    return requests.get(api_url).json()


# P/E ratio ~ The price-to-earnings (P/E) ratio relates a company's share price to its earnings per share.
# A high P/E ratio could mean that a company's stock is overvalued, or else that investors are expecting high growth rates in the future.
# P/B ratio ~ The P/B ratio measures the market's valuation of a company relative to its book value.
# P/S ratio ~ The price-to-sales (P/S) ratio shows how much investors are willing to pay per dollar of sales for a stock. 
# EV/EBITDA ~ It compares the value of a company, inclusive of debt and other liabilities,
# to the actual cash earnings exclusive of the non-cash expenses. 
# A lower enterprise multiple can be indicative of an undervaluation of a company.
# EV/GP ~ The EV/Gross Profit Ratio is a profitability financial ratio that estimates the enterprise value of a company to its gross profit.
# It demonstrates how many dollars of enterprise value are generated for every dollar of gross profit earned. 
# Generally, the lower the ratio, the lower is the company's net worth.

def getMetrics(data):
    values = {
        'peRatio':"P/E",
        'priceToBook':"P/B",
        'priceToSales':"P/S",
        'enterpriseValue':"EV",
    }
    
    metrics = {}
    
    for value in values.keys():
        try:
            metrics[values[value]] = data['advanced-stats'][value]
        except:
            metrics[values[value]] = np.NaN
    
    try:
        metrics["EV/GP"] = metrics['EV']/data['advanced-stats']['grossProfit']
    except:
        metrics['EV/GP'] = np.NaN
        
    try:
        metrics["EV/EBITDA"] = metrics['EV']/data['advanced-stats']['EBITDA']
    except:
        metrics['EV/EBITDA'] = np.NaN
        
    try:
        metrics["Price"] = data['quote']['latestPrice']
    except:
        metrics["Price"] = np.NaN
    
    return metrics
            

symbol = 'AAPL'
data = getBatchData(symbol,'quote,advanced-stats')
metrics = getMetrics(data[symbol])
print(metrics)

{'P/E': 28.480057228516955, 'P/B': 38.09, 'P/S': 6.99, 'EV': 2514268402653, 'EV/GP': 17.17626033051291, 'EV/EBITDA': 21.83100459329846, 'Price': 145.89}

In [4]:
from utils import batchData

stockGroupsList = batchData(stocks['Ticker'])

In [5]:
columns = ['Ticker', 'Price', 
           'P/E Ratio',
           'P/E Percentile',
           'P/B Ratio',
           'P/B Percentile',
           'P/S Ratio',
           'P/S Percentile',
           'EV/EBITDA Ratio',
           'EV/EBITDA Percentile',
           'EV/GP Ratio',
           'EV/GP Percentile',
           'RV Score'
          ]
dataDf = pd.DataFrame(columns = columns)

for stockGroups in stockGroupsList:
    
    data = getBatchData(stockGroups,'quote,advanced-stats')
            
    for symbol in stockGroups.split(','):
        
        metrics = getMetrics(data[symbol])
        
        dataDf = dataDf.append(
            pd.Series([
                symbol,
                metrics['Price'],
                metrics['P/E'],
                'N/A',
                metrics['P/B'],
                'N/A',
                metrics['P/S'],
                'N/A',
                metrics['EV/EBITDA'],
                'N/A',
                metrics['EV/GP'],
                'N/A',
                'N/A',
            ],
            index = columns),
            ignore_index=True
        )

dataDf

,Ticker,Price,P/E Ratio,P/E Percentile,P/B Ratio,P/B Percentile,P/S Ratio,P/S Percentile,EV/EBITDA Ratio,EV/EBITDA Percentile,EV/GP Ratio,EV/GP Percentile,RV Score
0,MMM,185.06,17.401129,N/A,7.14,N/A,3.06,N/A,11.961320,N/A,6.708812,N/A,N/A
1,ABT,118.70,33.810603,N/A,6.17,N/A,5.41,N/A,23.510800,N/A,9.939647,N/A,N/A
2,ABBV,111.55,30.001796,N/A,15.36,N/A,3.63,N/A,10.486474,N/A,7.447971,N/A,N/A
3,ABMD,325.23,99.131928,N/A,11.27,N/A,16.11,N/A,49.328574,N/A,18.723790,N/A,N/A
4,ACN,333.47,38.748235,N/A,11.28,N/A,4.56,N/A,22.771018,N/A,13.676173,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,126.62,28.326478,N/A,-4.85,N/A,5.85,N/A,21.303671,N/A,9.762850,N/A,N/A
501,ZBRA,515.34,37.527114,N/A,10.57,N/A,5.31,N/A,27.497197,N/A,11.501553,N/A,N/A
502,ZBH,152.32,35.60019,N/A,2.5,N/A,4.01,N/A,20.311748,N/A,6.697226,N/A,N/A
503,ZION,66.38,6.387334,N/A,1.37,N/A,2.93,N/A,4.954155,N/A,2.702426,N/A,N/A
504,ZTS,204.75,48.968842,N/A,22.23,N/A,12.91,N/A,33.952490,N/A,18.309460,N/A,N/A

In [6]:
# Show any missing data
dataDf[dataDf.isnull().any(axis=1)]

,Ticker,Price,P/E Ratio,P/E Percentile,P/B Ratio,P/B Percentile,P/S Ratio,P/S Percentile,EV/EBITDA Ratio,EV/EBITDA Percentile,EV/GP Ratio,EV/GP Percentile,RV Score
22,GOOG,2775.05,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
41,AON,297.15,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
64,BRK.B,282.95,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
150,DISCK,25.07,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
205,FOX,38.36,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
337,NWS,24.05,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
433,TROW,203.59,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
459,UA,18.14,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

In [7]:
# Drop missing data

dataDf.dropna(inplace=True)
dataDf.reset_index(inplace=True, drop=True)

dataDf[dataDf.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, P/E Ratio, P/E Percentile, P/B Ratio, P/B Percentile, P/S Ratio, P/S Percentile, EV/EBITDA Ratio, EV/EBITDA Percentile, EV/GP Ratio, EV/GP Percentile, RV Score]
Index: []

In [10]:
from scipy.stats import percentileofscore

# Calculate the percentiles 
metricsCol = ['P/E','P/B','P/S','EV/EBITDA','EV/GP']

for metric in metricsCol:
    
    ratioCol = metric+" Ratio"
    percentileCol = metric+" Percentile"
    
    for row in dataDf.index:
        dataDf.loc[row, percentileCol] = percentileofscore(dataDf[ratioCol], dataDf.loc[row, ratioCol])
        
dataDf

,Ticker,Price,P/E Ratio,P/E Percentile,P/B Ratio,P/B Percentile,P/S Ratio,P/S Percentile,EV/EBITDA Ratio,EV/EBITDA Percentile,EV/GP Ratio,EV/GP Percentile,RV Score
0,MMM,185.06,17.401129,31.589537,7.14,71.126761,3.06,44.466801,11.961320,35.412475,6.708812,41.046278,N/A
1,ABT,118.70,33.810603,65.593561,6.17,67.002012,5.41,67.404427,23.510800,73.440644,9.939647,62.977867,N/A
2,ABBV,111.55,30.001796,61.770624,15.36,87.122736,3.63,51.810865,10.486474,27.565392,7.447971,48.289738,N/A
3,ABMD,325.23,99.131928,95.573441,11.27,81.690141,16.11,94.064386,49.328574,93.360161,18.723790,89.939638,N/A
4,ACN,333.47,38.748235,74.245473,11.28,81.891348,4.56,61.971831,22.771018,71.629779,13.676173,78.06841,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,YUM,126.62,28.326478,57.344064,-4.85,4.828974,5.85,70.020121,21.303671,68.008048,9.762850,61.770624,N/A
493,ZBRA,515.34,37.527114,71.629779,10.57,79.879276,5.31,66.197183,27.497197,80.885312,11.501553,70.82495,N/A
494,ZBH,152.32,35.60019,68.812877,2.5,33.501006,4.01,57.042254,20.311748,66.197183,6.697226,40.84507,N/A
495,ZION,66.38,6.387334,9.657948,1.37,12.77666,2.93,42.756539,4.954155,4.225352,2.702426,12.474849,N/A
496,ZTS,204.75,48.968842,82.49497,22.23,92.354125,12.91,89.939638,33.952490,88.128773,18.309460,88.732394,N/A

In [11]:
# Calculate RV Score
from statistics import mean

metricsCol = ['P/E','P/B','P/S','EV/EBITDA','EV/GP']

for row in dataDf.index:
    percentiles = []
    for metric in metricsCol:
        percentiles.append(dataDf.loc[row, metric+' Percentile'])
    
    dataDf.loc[row, 'RV Score'] = mean(percentiles)

dataDf

,Ticker,Price,P/E Ratio,P/E Percentile,P/B Ratio,P/B Percentile,P/S Ratio,P/S Percentile,EV/EBITDA Ratio,EV/EBITDA Percentile,EV/GP Ratio,EV/GP Percentile,RV Score
0,MMM,185.06,17.401129,31.589537,7.14,71.126761,3.06,44.466801,11.961320,35.412475,6.708812,41.046278,44.72837
1,ABT,118.70,33.810603,65.593561,6.17,67.002012,5.41,67.404427,23.510800,73.440644,9.939647,62.977867,67.283702
2,ABBV,111.55,30.001796,61.770624,15.36,87.122736,3.63,51.810865,10.486474,27.565392,7.447971,48.289738,55.311871
3,ABMD,325.23,99.131928,95.573441,11.27,81.690141,16.11,94.064386,49.328574,93.360161,18.723790,89.939638,90.925553
4,ACN,333.47,38.748235,74.245473,11.28,81.891348,4.56,61.971831,22.771018,71.629779,13.676173,78.06841,73.561368
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,YUM,126.62,28.326478,57.344064,-4.85,4.828974,5.85,70.020121,21.303671,68.008048,9.762850,61.770624,52.394366
493,ZBRA,515.34,37.527114,71.629779,10.57,79.879276,5.31,66.197183,27.497197,80.885312,11.501553,70.82495,73.8833
494,ZBH,152.32,35.60019,68.812877,2.5,33.501006,4.01,57.042254,20.311748,66.197183,6.697226,40.84507,53.279678
495,ZION,66.38,6.387334,9.657948,1.37,12.77666,2.93,42.756539,4.954155,4.225352,2.702426,12.474849,16.37827
496,ZTS,204.75,48.968842,82.49497,22.23,92.354125,12.91,89.939638,33.952490,88.128773,18.309460,88.732394,88.32998

In [12]:
# Sort stocks by the highest RV Score

dataDf.sort_values('RV Score', ascending = False, inplace = True)
dataDf.reset_index(drop=True, inplace=True)

dataDf

,Ticker,Price,P/E Ratio,P/E Percentile,P/B Ratio,P/B Percentile,P/S Ratio,P/S Percentile,EV/EBITDA Ratio,EV/EBITDA Percentile,EV/GP Ratio,EV/GP Percentile,RV Score
0,PAYC,516.78,180.845358,98.189135,40.07,96.177062,33.11,99.396378,111.744507,98.792757,37.004332,99.396378,98.390342
1,NOW,658.70,771.959496,99.597586,39.77,95.975855,25,98.792757,197.474576,99.396378,30.987334,97.384306,98.229376
2,TSLA,784.94,370.962861,99.396378,32,95.171026,18.58,95.975855,128.982820,99.195171,82.327896,100.0,97.947686
3,DXCM,557.72,103.963467,95.774648,26.79,93.762575,25.06,98.993964,121.124511,98.993964,34.254976,98.591549,97.22334
4,ENPH,155.42,116.577769,96.37827,36.14,95.573441,20.18,96.579477,78.204969,97.384306,44.464387,99.597586,97.102616
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,MCK,208.89,-6.883643,6.237425,-58.82,1.609658,0.1308,0.603622,8.213024,18.309859,2.813541,12.877264,7.927565
493,L,57.68,9.488084,14.486922,0.8001,6.639839,0.9936,9.859155,5.349816,5.231388,0.963922,2.816901,7.806841
494,RE,253.01,7.700129,11.267606,0.9804,7.444668,0.9202,8.249497,6.392500,8.450704,0.893186,2.21328,7.525151
495,AAL,22.03,-2.444349,7.645875,-1.84,5.231388,0.7504,6.438632,-4.922947,2.012072,2.000208,9.255533,6.1167
496,PRU,109.25,5.860957,8.853119,0.6765,5.633803,0.6412,4.627767,4.653794,3.62173,0.631082,1.006036,4.748491

In [13]:
finalDf = dataDf[:50][['Ticker','Price','P/E Ratio','P/B Ratio','P/S Ratio','EV/EBITDA Ratio','EV/GP Ratio','RV Score']]
finalDf

,Ticker,Price,P/E Ratio,P/B Ratio,P/S Ratio,EV/EBITDA Ratio,EV/GP Ratio,RV Score
0,PAYC,516.78,180.845358,40.07,33.11,111.744507,37.004332,98.390342
1,NOW,658.70,771.959496,39.77,25,197.474576,30.987334,98.229376
2,TSLA,784.94,370.962861,32,18.58,128.982820,82.327896,97.947686
3,DXCM,557.72,103.963467,26.79,25.06,121.124511,34.254976,97.22334
4,ENPH,155.42,116.577769,36.14,20.18,78.204969,44.464387,97.102616
5,MPWR,485.76,115.433558,20.9,21.79,89.894593,36.882009,96.418511
6,NVDA,207.66,73.574862,25.45,24.32,60.309525,36.500013,95.895372
7,IDXX,629.85,75.573837,72.78,17.61,56.694137,30.059866,95.694165
8,FTNT,301.00,97.970972,46.73,17.04,71.335982,19.865687,94.929577
9,TECH,508.41,141.852304,12.48,20.77,60.423029,30.931557,94.406439
10,ISRG,1022.10,76.852539,11.25,23.63,60.809180,32.884412,93.480885
11,MA,367.97,50.667616,56.96,22.11,37.486597,21.507670,92.716298
12,TYL,469.63,123.169293,9,15.5,97.561572,33.352237,92.555332
13,ALGN,663.82,76.087259,15.52,15.75,51.826488,20.099055,91.95171
14,MKTX,437.05,56.323911,15.85,22.89,39.213912,22.731965,91.830986
15,BKNG,2511.08,244.651765,21.21,14.27,104.645955,13.645279,91.67002
16,ADSK,292.10,48.962829,48.68,15.7,89.906024,17.443115,91.428571
17,INTU,553.38,72.892486,15.66,16.11,52.372021,18.210789,91.368209
18,ILMN,398.46,77.222234,11.4,15.2,76.795868,19.500992,91.10664
19,ABMD,325.23,99.131928,11.27,16.11,49.328574,18.723790,90.925553
20,WST,440.53,61.023141,15.59,12.66,39.595591,31.120993,90.905433
21,ADBE,589.96,48.109517,19.6,19.0,46.649904,20.658897,90.865191
22,CDNS,155.11,65.286529,17.46,14.84,53.769000,16.043503,90.140845
23,RMD,266.90,81.163864,13.31,12.26,39.892557,20.365415,90.100604
24,ETSY,210.54,55.18541,49.51,12.31,46.045526,16.681225,90.100604
25,AMT,274.10,54.940258,21.8,14.36,28.886446,25.182683,89.818913
26,V,240.44,47.169207,15.13,23.25,31.897035,22.140432,89.255533
27,MRNA,349.79,39.990438,20.87,20.26,33.708917,21.660322,89.215292
28,EW,117.32,49.322696,14.12,14.39,54.712252,18.541836,88.692153
29,ZTS,204.75,48.968842,22.23,12.91,33.952490,18.309460,88.32998
30,ANSS,348.54,68.318902,7.37,17.41,50.445441,17.770987,87.806841
31,MTD,1451.16,45.886171,175.15,9.46,35.091153,16.521576,87.686117
32,PYPL,270.06,65.994216,15.23,13.05,58.426763,12.937653,87.686117
33,EQIX,799.30,210.963858,6.66,11.49,31.010873,27.580480,87.565392
34,GNRC,406.93,49.621766,15.58,8.25,35.386002,21.479925,87.102616
35,CCI,176.14,72.43004,8.72,12.4,27.924015,23.632244,86.68008
36,TWTR,64.55,130.919145,6.48,11.6,50.000511,16.111165,86.317907
37,XLNX,153.40,50.119405,12.39,11.47,44.050061,15.547865,85.915493
38,PSA,310.30,42.60735,11.07,17.68,25.902241,25.860725,85.754527
39,SPGI,449.65,42.401901,85.29,13.43,24.585672,17.125043,85.754527
40,SNPS,315.01,62.189586,9.18,11.44,58.377829,14.213264,85.754527
41,CMG,1918.10,88.646737,24.21,7.55,55.652129,10.654515,85.714286
42,AMD,106.77,36.52531,18.18,9.77,40.780368,19.884323,85.633803
43,NFLX,616.21,62.127472,20.03,10.17,19.477911,24.941226,85.191147
44,CRM,285.08,115.856038,4.97,11.67,69.178567,15.676104,84.869215
45,ROL,36.76,53.856203,17.43,7.87,33.263353,14.857174,84.688129
46,INFO,121.05,82.997092,5.7,11.23,31.328584,18.474119,84.245473
47,VRSK,207.90,49.040745,12.05,11.19,25.397768,19.584909,84.104628
48,CRL,419.82,54.415698,9.44,6.55,36.131251,19.249408,83.822938
49,UDR,55.71,1349.486298,6,13.17,24.250845,17.291930,83.62173

In [16]:
# Save the final df to an excel file
finalDf.to_excel("raccomendedTrades.xlsx", index=False)